.news-section {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.6s ease;
}

.news-section.animate {
  opacity: 1;
  transform: translateY(0);
}

.section-sub {
  font-family: "Alexandria", sans-serif;
  color: var(--color-red);
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.section-title {
  font-family: "Alexandria", sans-serif;
  font-size: 48px;
  text-align: center;
  font-weight: bold;
  color: var(--color-block);
  margin-bottom: 40px;
}
.section-title span {
  color: var(--color-red);
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;
}
/* 
.nav-arrows {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.nav-arrows div {
  background: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.nav-arrows div img{
    width: 100%;
    height: 100%;
}
.nav-arrows div:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
.nav-arrows div:hover {
  transform: scale(1.1);
} */