@import "../../constants/colors.css";

.footer-section {
  width: 100vw;
  background-color: var(--color-green);
  position: relative;
  z-index: 1;
  color: white;
}

.footer-title {
  color: var(--color-green);
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer-section a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-section a:hover {
  text-decoration: underline;
  color: var(--color-orange);
}

.contact-btn {
  background-color: var(--color-orange);
  color: white;
  border-radius: 25px;
  padding: 8px 20px;
  font-weight: 500;
  border: none;
}

.contact-btn:hover {
  background-color: var(--color-orange);
  color: white;
}
.footerflex {
  justify-content: space-around;
}

.flogostext span {
  margin: 0;
  color: white;
  height: 22px;
  font-family: "Alexandria", sans-serif;
}
.bottomtext {
  color: white !important;
}
.bottomtext .spantext {
  color: var(--color-orange);
}
