:root {
  --app-font: "Alexandria", system-ui, -apple-system, Segoe UI, Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

html,
body {
  font-family: var(--app-font)!important;
  /* Chrome, Safari, Edge */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Firefox */
  scrollbar-width: none;

  /* IE/Edge (eski sürümler) */
  -ms-overflow-style: none;

  background-color: #f5f4f4;
  margin-right: 0px;

  display: flex;
  justify-content: center;
  overflow-x: hidden;

  background-image: url("../public/assets/Sideicons.svg"),
    url("../public/assets/Sideicon2.svg");
  background-position: 30px top, calc(100% - 30px) top;
  background-repeat: repeat-y, repeat-y; /* her biri Y’de sonsuz tekrar */
  background-size: auto auto, auto;
}

.h4 {
  font-size: 14px;
  color: var(--color-red);
  letter-spacing: 1px;
}

.h2 {
  font-size: 32px;
  font-weight: 600;
  margin: 10px 0;
  color: black;
}
@media (width<790px) {
  .h4 {
    font-size: 10px;
  }
  .h2 {
    font-size: 20px;
  }
  body {
    background-size: 10%, 10%;
  }
}
.categoriescontainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  scrollbar-width: none;
  width: 100%;
  gap: 10px;
}

.category-box {
  flex: 0 0 auto;
  width: 110px;
  height: 42px;
  border-radius: 10px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 400;
  color: #252839;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.category-box.active {
  background: var(--color-green);
  color: #f4f5f8;
  font-weight: 500;
}
